{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Le comparateur de programmes pour les élections municipales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Local, transparent et gratuit, Programmes-Municipales.fr permet de comparer les programmes des listes candidates aux élections municipales.">
    <meta name="keywords" content="programmes, municipales, election, elections, 2020, comparateur, comparatif, comparer">
    <meta name="language" content="FR">
    <meta property="og:image" content="{% static '/images/logo.png' %}"/>

    <link rel="icon" type="image/png" href="{% static '/images/favicon.ico' %}">

    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">


    <link rel="stylesheet" href="{% static '/css/slick.css' %}">
    <link rel="stylesheet" href="{% static '/css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static '/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '/css/fonticons.css' %}">
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootsnav.css' %}">


    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="{% static '/css/plugins.css" />-->

    <!--Theme custom css -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!--<link rel="stylesheet" href="{% static '/css/colors/maron.css">-->

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}"/>

    <script src="{% static '/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>


</head>
<body data-spy="scroll" data-target=".navbar-collapse">
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
        </div>
    </div>
</div><!--End off Preloader -->

<div class="culmn">
    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <!-- Start Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <!-- End Top Search -->

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{% static '/images/logotrans.png' %}" class="logo logo-display" style="height: 49px" alt="">
                <img src="{% static '/images/logo.png' %}" class="logo logo-scrolled" style="height: 49px" alt="">

            </a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li><a href="#hello">Rechercher ma ville</a></li>
                <li><a href="#info">Les élections municipales</a></li>
                <li><a href="#nous">Qui sommes-nous ?</a></li>
                <!--<li><a href="/#VerifierMonInscription">Vérifier mon inscription sur les listes électorales</a></li>-->
                <li><a href="/#aide">Nous aider</a></li>
                <li><a href="#subscribe">Nous contacter</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/logout">Se déconnecter</a>
                    </div>
                </li>
                {% else %}
                <li><a href="/connect">Se connecter</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
        <!--</div> -->
    </nav>
    {% block content %}{% endblock content %}
    <footer id="footer" class="footer bg-black">
        <div class="container">
            <div class="row main_footer p-top-40 p-bottom-30">
                <div class="col-md-6">
                    <h6><a href="#revendiquer">Revendiquer une liste</a></h6>
                    <h6><a href="#mentions">Mention légales</a></h6>
                    <h6><a href="#charte">Charte de transparence</a></h6>
                </div>
                <div class="col-md-6 text-center">
                    <a href="https://twitter.com/MunicipalesProg" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/MunicipalesProg/" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>


<div class="modal fade" id="charte" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Notre Charte d'Indépendance</h5>
            </div>
            <div class="modal-body">
                <h6>Financement</h6>
                <p>Notre budget de fonctionnement s’élève à la coquette sommes de 78 €, qui couvre uniquement les
                    frais
                    d’hébergement du site. Programmes-Municiaples.fr a été développé bénévolement. Nous n’avons reçu
                    ni
                    don, ni financement, ni subvention.<br/>
                    L’intégralité du site est accessible gratuitement, sans publicité.</p>
                <h6>Transparence</h6>
                <p>Programmes-Municipales.fr est apartisan : nous ne sommes liés à aucun parti politique.
                    L’ordre de présentation des listes est aléatoire : en actualisant la page, vous pourrez
                    constater
                    que les listes sont présentées dans un ordre différent.
                    Les listes candidates ne peuvent pas payer pour être mises en avant sur
                    Programmes-Municipales.fr</p>
                <h6>Comment ont été déterminés les sujets ?</h6>
                <p>Les sujets communs ont été déterminés à partir du Code Général des Collectivités Territoriales
                    :</p>
                <ul>
                    <li><i class="fa fa-caret-right"></i>
                        Chapitre Ier : Le conseil municipal / Section 5 : Attributions
                    </li>
                    <li>
                        Ce texte présente les attributions du Conseil Municipal. Il est consultable <a
                            target="_blank"
                            href="https://www.legifrance.gouv.fr/affichCode.do;jsessionid=E3FAB301150F3C7024FAF0E152920ACB.tpdjo02v_3?idSectionTA=LEGISCTA000006180961&cidTexte=LEGITEXT000006070633&dateTexte=20140304">ici</a>.
                    </li>
                    <li><i class="fa fa-caret-right"></i>
                        Chapitre II : Le maire et ses adjoints / Section 3 : Attributions / Sous-section 2 :
                        Attributions
                        exercées au nom de la commune
                    </li>
                    <li>
                        Ce texte présente les attributions déléguées au maire par le Conseil Municipal. Il est
                        consultable
                        <a target="_blank"
                           href=https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000028538439&cidTexte=LEGITEXT000006070633&dateTexte=20140212&oldAction=rechCodeArticle>ici</a>.
                    </li>
                </ul>
                <br/>
                <p>En complément des sujets communs, il est possible d’ajouter des sujets locaux, spécifiques à
                    chaque
                    ville. Les listes candidates peuvent ainsi prendre position sur des sujets locaux : transports,
                    grands projets, commerces, …</p>
                <h6>Crédits</h6>
                <p>L’outil a été développé par des citoyens désireux de favoriser la participation des électeurs à
                l’échéance électorale des 15 et 22 mars 2020. Nous ne sommes liés à aucune organisation politique ni à
                aucun parti.<br/>
                Les listes sont présentées dans un ordre aléatoire.<br/>
                Pour en savoir plus : contact@programmes-municipales.fr<br/>
                <br/>
                La photo de couverture a été prise le 6 Novembre 2019 à Aspach-Michelbach, en France, par Joackim
                Weiler, disponible sur Unsplash.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="mentions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Mentions légales</h5>
            </div>
            <div class="modal-body">
                <h6>Hébergement du site</h6>
                <p>Le site est hébergé en France et au Canada, sur les serveurs de PLANETHOSTER.</p>
                <h6>Protection des données personnelles</h6>
                <p>Si vous souhaitez vous inscrire sur le site, les informations collectées nous permettront de mieux
                    vous connaître. Elles seront utilisées pour vous informer sur Programmes-Municipales.fr.<br/>
                    Conformément aux dispositions de la loi Informatique et Libertés du 6 Janvier 1978, vous disposez
                    d’un droit d’accès, de modification, de rectification et de suppression des données qui vous
                    concernent.<br/>
                    Pour exercer ce droit, adressez-vous à : contact@programmes-municipales.fr
                </p>
                <h6>Responsabilité quant au contenu</h6>
                <p>Alors même que Programmes-Municipales.fr s’efforce que le contenu de son site soit le plus à jour et
                    le plus fiable possible, il ne peut donner aucune garantie quant à l’ensemble des informations
                    présentes sur le site, qu’elles soient fournies par ses soins, par ses partenaires ou par tout
                    tiers, par l’envoi d’e-mails ou de toute autre forme de communication.<br/>

                    Compte tenu des caractéristiques du réseau Internet que sont la libre captation des informations
                    diffusées et la difficulté, voire l’impossibilité, de contrôler l’utilisation qui pourrait en être
                    faite par des tiers, Programmes-Municipales.fr n’apporte aucune garantie quant à l’utilisation des
                    dites informations.<br/>

                    Programmes-Municipales.fr ne saurait en conséquence être tenu pour responsable du préjudice ou
                    dommage pouvant résulter de l’utilisation des informations présentes sur le site, ni d’erreurs ou
                    omissions dans celles-ci.<br/>

                    En cas d’erreur, d’omission, ou si vous souhaitez revendiquer votre propre liste, adressez-vous à :
                    contact@programmes-municipales.fr
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="revendiquer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Revendiquer une liste</h5>
            </div>
            <div class="modal-body">
                <h6>Pourquoi revendiquer une liste ?</h6>
                <p>Si vous êtes candidat.e, vous pouvez prendre la main sur votre liste. Vous pouvez alors :
                <ul>
                    <li>- modifier/insérer votre photo</li>
                    <li>- modifier votre couleur politique</li>
                    <li>- compléter votre programme et ajouter des mesures</li>
                    <li>- indiquer les 3 priorités de votre programme affiché sur la page d’accueil de votre ville.</li>
                </ul>
                </p>
                <h6>Comment revendiquer ma liste ?</h6>
                <p>Envoyez-nous simplement un mail à contact@programmes-municipales.fr en indiquant :
                <ul>
                    <li>- Le nom de votre liste</li>
                    <li>- Votre ville</li>
                    <li>- Un numéro de téléphone auquel vous joindre pour vérifier que vous êtes bien candidat.e.</li>
                </ul>
                Après vérification, nous vous créons un compte et vous donnons les droits d’administration de votre
                liste.
                </p>
                <h6>Et en cas de difficulté ?</h6>
                <p>Une page d’aide est disponible en suivant
                    <a href="https://frama.link/AidezMoi" target="_blank">ce lien.</a>
                </p>
                <h6>Quel est l’objectif du site ?</h6>
                <p>Le but est de comparer les propositions des listes candidates, organisées en cinq catégories
                    représentatives des compétences communales : aménagement et sécurité, propreté et environnement,
                    social et santé, éducation et culture, démocratie et vie associative. Chaque catégorie est déclinée
                    en sous-thème, au sein desquelles sont classées les promesses de campagne. Les citoyens peuvent
                    ainsi comparer, thème par thème, les propositions des différentes listes de leur ville et ainsi
                    éclairer leur choix pour les élections municipales.
                </p>
                <h6>Qui sommes-nous ?</h6>
                <p>L’outil a été développé par des citoyens désireux de favoriser la participation des électeurs à
                    l’échéance électorale des 15 et 22 mars 2020. Nous ne sommes liés à aucune organisation politique ni
                    à aucun parti et les listes sont présentées dans un ordre aléatoire.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- JS includes -->

<script src="{% static '/js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static '/js/vendor/bootstrap.min.js' %}"></script>

<script src="{% static '/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static '/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static '/js/slick.min.js' %}"></script>
<script src="{% static '/js/jquery.collapse.js' %}"></script>
<script src="{% static '/js/bootsnav.js' %}"></script>
{{formV.media}}

<!-- paradise slider js -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156366014-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156366014-1');








</script>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})








</script>

<!--    {% if form_error %}
    $(#offerModalForm).modal("show");
{% endif %}-->
<script src="{% static '/js/plugins.js' %}"></script>
<script src="{% static '/js/main.js' %}"></script>
</body>
</html>